/* Document CSS of 商品详情页 */
.xq_bg {
	background: #fff;
}
.wrap_top_out .xq{
	height: 40px;
	padding: 15px 0px 15px 20px;
}
.brand_shop {
	display: inline-block;
	width: 506px;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	border-right: 1px solid #eee;
}
.wrap_shop .search {
	position: absolute;
	right: 0px;
	top: 15px;
	width: 600px;
	margin: 3px;
	padding: 0px;

}
.wrap_shop .search_btn {
	background: #f69;
	font-size: 12px;
	letter-spacing: normal;
	color: #fff;
	text-align: center;
	line-height: 32px;
}
.wrap_shop .there{
	margin-left:4px;
}

/* 导航以及广告 */
.xq_head {
	width: 100%;
	height: 150px;
	background: #404040;
}
.xq_ad {
	font-size: 49px;
	text-align: center;
	line-height: 120px;
	height: 120px;
	background: #fff;
}
.xq_nav {
	
}
/* nav */
.nav_list {
	line-height: 29px;
}
.nav_list li {
	float: left;
	position: relative;
}
.nav_list li:hover {
	background: #666;
}
.nav_list a {
	font-size: 14px;
	padding: 0 20px;
	border-right: 1px solid #5c5c5c;
	color: #fff;
}
.nav_list a.total_goods {
	padding-right: 40px;
}
/* 内部列表 */
.nav_list .inner_list {
	overflow: hidden;
	position: absolute;
    top: 30px;
    left: -1px;
    width: 150px;
    line-height: 32px;
    background: #000;
    opacity: 0.75;
    filter: alpha(opacity=75)
}
.nav_list .inner_list li {
	width: 150px;
	cursor: pointer;
}
.nav_list .inner_list a {
	color: #fff;
    font-size: 12px;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0 26px;
}
/* Container */
.wrap_container {
	margin-top: 50px;
}
/* 商品详情 */
.big_img {
	padding: 40px 30px 30px 0px;
}
.big_img img {
	width: 400px;
	height: 520px;
}
.small_img_list {
	width: 400px;
}
.small_img_list ul {
	display: inline-block;
	padding: 10px 0px 10px 20px;
}
.small_img_list li {
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 10px;
	overflow: hidden;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
	zoom:1;
}
.small_img_list li:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.small_img_list img{
	width: 60px;
	height: 78px;
}
/* 商品信息 */
.goods_info {
	width: 540px;
	padding-right: 100px;
	padding-bottom: 140px;
	border-right: 1px solid #eee;
}
.goods_name {
	font-size: 24px;
	line-height: 40px;
	color: #333;
}
.goods_price {
	width: 540px;
	background: #f2f2f2;
	border: 1px solid #f4f4f4;
}
.goods_info dl {
	position: relative;
	width: 100%;
	height: 32px;
	padding-left: 10px;
	line-height: 32px;
}
.goods_info dt {
	display: inline-block;
}
.goods_info dt {
	*display: inline;
}
.new_price {
	font-size: 24px;
	font-weight: bold;
	color: #ef2f23;
}
.goods_data {
	position: absolute;
	right: 0px;
	top: 10px;
	margin-right: 20px;
}
.goods_info dd {
	display: inline-block;
	margin-left: 30px;
}
.goods_info dd {
	*display: inline;
}
.goods_info dd .strong {
	margin: 0px 10px;
}
.goods_info .priv,.icon_more{
	cursor: pointer;
}
.goods_server dl {
	height: 40px;
}
.goods_style dl {
	height: 60px;
}
.goods_style dd {
	width: 45px;
	height: 45px;
	vertical-align: middle;
	border: 2px solid #ccc;
}
.goods_style dd img {
	width: 45px;
	height: 45px;
}
.goods_size dd {
	width: 28px;
	height: 28px;
	margin-right: -20px;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ddd;
	cursor: pointer;
}
.goods_num dl{
	margin-top: 10px;
}
.goods_num dd {
	vertical-align: middle;
}
.goods_num dd span {
	float: left;
	display: inline-block;
	width: 25px;
	height: 25px;
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	border: 1px solid #dddddd;
	cursor: pointer;
}
.goods_num dd strong {
	padding: 0px 10px;
}
.goods_num dd .num {
	float: left;
	display: block;
	width: 44px;
	height: 25px;
	text-align: center;
	border: 1px solid #dddddd;
	border-left: none;
	border-right: none;
	text-indent: -3px;
}
.to_buy {
	text-align: center;
	margin-top: 20px;
}
.to_buy a{
	display: inline-block;
	width: 198px;
	height: 48px;
	margin-right: 3px;
	line-height: 50px;
	font-size: 20px;
	color: #333;
	border: 1px solid #ddd;
}
.to_buy a.active {
	background: #ef2f23;
	color: #fff;
	border: 1px solid #ef2f23;
}
.to_click {
	margin-top: 20px;
	text-align: center;
}
.to_click .icon_btn {
    height: 24px;
	padding: 0 13px;
    margin-right: 10px;
    border: 1px solid #ddd;
    line-height: 24px;
    border-radius: 24px;
    color: #999;
    cursor: pointer;
}
.to_click .icon_btn:hover {
	color: #f69;
	border: 1px solid #f69;
}
.to_promise {
	margin-top: 20px;
}
.pay_style {
	margin-top: 20px;
}
.pay_style a:hover {
	color: #ef2f23
}
.goods_desc {
	height: 300px;
	background: yellow;
	font-size: 45px;
	font-weight: bold;
}
				