html {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#lottery {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 70rem;
	height: 64rem;
	border: 1px solid red;
}
.lottery-title {
	text-align: center;
	line-height: 4rem;
}
.lottery-box {
	width: 100%;
	height: 60rem;
	/*padding: 0 1.4rem;*/
	border: 1px solid purple;
	overflow: hidden;
}
.wrapper {
	/*position: relative;
	background-color: purple;
	padding: 1rem 1.1rem;*/
	padding-left: 3%;
}
.wrapper-item {
	width: 31%;
	height: 19rem;
	float: left;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.wrapper-item.start {
	cursor: pointer;
}
.wrapper-item img {
	width: 100%;
	height: 100%;
}
.on img{ 
	background-color: red;
	border: 1rem solid red;
	-webkit-transform: rotate(9deg);
	-ms-transform: rotate(9deg);
	-o-transform: rotate(9deg);
	transform: rotate(9deg);
}